@charset "UTF-8";

section {
    width: 950px;
}

section > div#image {
    float: left;
    width: 50%;
    height: 100%;
}

section > div#form {
    float: right;
    width: 50%;
}


body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}