@charset "UTF-8";

body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}

section {
    width: 950px;
}

section > div#image {
    background-image: url(../images/pexels-scottwebb-139198.jpg);
    background-position: center center;
    float: right;
    width: 50%;
    height: 100%;
}

section > div#form {
    float: left;
    width: 50%;
}

div#form > h1 {
    font-size: 2em;
}

div#form > p {
    font-size: 1.2em;
}