@charset "UTF-8";

body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}

section {
    width: 80vw;
}

section > div#image {
    float: left;
    width: 30%;
    height: 100%;
}

section > div#form {
    float: right;
    width: 70%;
}